/* MenuInicio.css */
.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;    /* Centra horizontalmente */
  justify-content: flex-start; /*Pongo esto para que deje separar del techo de la ventana los botones*/
  position: relative;
  background-color: #0a1f33;
}

.header-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.icon-btn {
  background: linear-gradient(to bottom, #b68d68, #8b5e3c);
  border: 2px solid #5d4037;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 0px #3e2723;
}

.grupo-botones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
  max-width: 380px; /* Tamaño  */
  margin-top: 250px; /* Separados del techo */
}

.menu-btn {
  background: linear-gradient(to bottom, #d2a679, #8b5e3c);
  color: #2c1b0e;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 22px;
  border: 3px solid #5d4037;
  border-radius: 30px; /* Bordes redondeados  */
  cursor: pointer;
  box-shadow: 0px 5px 0px #3e2723; /* Efecto 3D de botón */
  transition: all 0.1s;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 50px;
}

.menu-btn:hover {
  filter: brightness(1.1);
}

.menu-btn:active {
  transform: translateY(4px); /* El botón se "hunde" al clickear */
  box-shadow: 0px 1px 0px #3e2723;
}