
.tablero {
  display: grid;
  grid-template-columns: repeat(15, 40px); /* Repite 15 columnas de 30px cada una */
  grid-template-rows: repeat(15, 40px);  /* Repite 15 filas de 30px cada una */
  background-color: #1e88e5;
  border: 2px solid #333;
  width: fit-content; 
}

/* Clase base para todas las celdas */
.celda {
  width: 37px; 
  height: 37px;
  border: 2px solid rgba(0,0,0,0.1);
  position: relative; 
}

.celda-agua {
  background-color: #1e88e5;
}

.celda-isla {
  background-color: #aed581;
}

.barco-fragmento {
  position: absolute;
  top: 2px; 
  left: 2px; 
  right: 2px; 
  bottom: 2px;
  background-color: #555;
  border-radius: 4px;
}