/* index.css */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita que aparezcan barras de scroll innecesarias */
  background-color: #0a1f33; /* El azul oscuro de fondo */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}