.barra-wrapper {
    margin-bottom: 1%;
    width: 30%;
    font-family: 'Georgia';
    display: flex; /*Para alinear el icono y la barra en una fila*/
    align-items: center; 
    gap: 10px;/*Espacio entre el icono y la barra*/
}

.barra-icono {
    width: 25px;  
    height: 25px;
}

.barra-container {
    height: 15px;
    background-color: #5c5755; 
    border: 3px solid #b38b6d; 
    position: relative;
    border-radius: 20px; 
    flex-grow: 1; /*Hace que la barra ocupe el espacio restante*/
    overflow: hidden; /*Para que el contenido no se salga de los bordes*/
}

.barra-contenido {
    height: 100%;
    transition: width 0.5s;
}

.combustible .barra-contenido {
    background: linear-gradient(to bottom, #e3bbbb 0%, #c26d6d 50%, #892b2b 100%);
}

.municion .barra-contenido {
    background: linear-gradient(to bottom, #c8efef 0%, #66b2b2 50%, #226e6e 100%);
}

.barra-resumen {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
}

.barra-nombre {
    position: absolute;
    left: 5%;
    transform: translateY(-7%); /*Posiciona el nombre en la posición correcta*/
    color: #ffffff; 
    font-weight: bold;
    font-size: 0.7rem;
    z-index: 10; /*Para que el nombre esté por encima de la barra*/
}

