.capa-niebla {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  pointer-events: none;
  z-index: 100; /* Por encima de barcos y tablero */
}

.celda-niebla {
  width: 100%;
  height: 100%;
  background-color: #3c3c4c;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.8s ease;
}

.celda-niebla.visible {
  opacity: 0;
}

.celda-niebla.oculta {
  opacity: 1;
}
