.contenedor-padre {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #0a1f33; 
}

.formulario-registro{
    background: linear-gradient(to bottom, #8b5e3c, #b68d68);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    border: 2px solid #5d4037;

    display: flex;
    flex-direction: column;/* Esto pone los inputs uno debajo del otro */
    gap: 20px; /* Espacio entre cada input y el botón */
}

.titulo {
  margin-top: 0;
  margin-bottom: 25px;
  color: #040404;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/* Estilo de los inputs */
.formulario-registro input {
  padding: 15px;
  font-size: 1.2rem;
  border: 2px solid #3f2a01;
  border-radius: 6px;
  background-color: #f2b05a90;
  color: #1d1809;
  font-weight: bold;
  transition: 0.3s ease;
}

.formulario-registro input:focus {
  background-color: #ffb95d;
}

.formulario-registro input::placeholder {
  color: #5e4c1f;
}

/* El botón */
.formulario-registro button {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border: 2px solid #3f2a0191;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0px 4px 0px #388e3c;
  transition:  0.2s ease;
}

.formulario-registro button:hover {
  background-color: #388e3c;
  transform: scale(1.03);
}